html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', Verdana, sans-serif;
}

ul li {
    list-style-type: none;
}

.test-field {
    align-items: center;
    height: 500px;
    width: 1197px;
    display: flex;
    padding: 30px;
    background-color: #f3f3f3;
    flex-direction: column;
}

.test-field>p {
    text-align: center;
    font-size: 30px;
    /* margin: 0 auto; */
}

.log-block {
    height: 100%;
    width: 100%;
    background-color: #aaa;
}